@mixin top-line-style{
    svg{
        fill: #d90429; 
        width: 100%;
        stroke: #9d0208;
        stroke-width: 20px;
    }
    div{
        position: relative;
        margin-top: -115px;
        width: 100%;
        background-color: #d90429;
        height: 30px;
    }
}
@mixin shadow{
    box-shadow: -2px 2px 3px black;
}

.left{
    .leds{
        margin: 20px;
        width: 100px;
        height: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        position: relative;
        left: 200px;
        background-color: #D1D5CB;
        border-radius: 5px;
        @include shadow();
        .dot{
            width: 10px;
            height: 10px;
            border: 0;
            position: relative;
            left: 2px;
            top:1px;
        }
        div{
            width: 20px;
            height: 20px;
            border: solid black 1px;
            border-radius: 15px;
        }
        .red{
            background-color: red;
            .dot{
                background-color: rgba(253, 106, 106, 0.781);
            }
        }
        .yellow{
            background-color: yellow;
            .dot{
                background-color: rgb(241, 241, 76);
            }
        }
        .green{
            background-color: green;
            .dot{
                background-color: rgb(94, 190, 94);
            }
        }
    }

    .blue-led{
        background-color: #0BCDFF;
        width: 50px;
        height: 50px;
        border-radius: 30px;
        border: solid white 5px;
        position: relative;
        left: 30px;
        top: -30px;
        @include shadow();

        .dot{
            background-color: #9CE8FF;
            width: 20px;
            height: 20px;
            border-radius: 10px;
            position: relative;
            left: 5px;
            top:3px
        }
    }
    .line{
        margin-top: -40px;
        height: 20px;
        transform: scaleX(-1);
        @include top-line-style;

    }
    
    .buttons{
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        width: 200px;
        position: relative;
        left: 20px;
        .black{
            background-color: black;
            width: 50px;
            height: 50px;
            border-radius: 25px;
            @include shadow();
        }
        .red{
            background-color: red;
            width: 50px;
            height: 15px;
            border-radius: 10px;
            @include shadow();
        }
        .blue{
            background-color: blue;
            width: 50px;
            height: 15px;
            border-radius: 10px;
            @include shadow();
        }
    }

    .direction-buttons {
        position: relative;
        margin-top: -40px;
        display: grid;
        justify-content: flex-end;
        right: 20px;
        grid-template-columns: 55px 55px 55px;

        #left{
            position: sticky;
        }
        i{
            font-size: 3.4rem;
            background-color: #212529;
            box-shadow: -3px 3px 1px #343a40;
        }
        div {
            text-align: center;
            margin: -5px 0px ;
        }
    }

    .green-part{
        position: relative;
        top:-100px;
        left: 20px;
        background-color: #55AB62;
        width: 150px;
        height: 90px;
        border-radius: 10px;
    }
}

.right{
    margin-top: 130px;
    .line{
        margin-top: -40px;
        width: 100%;
        @include top-line-style; 
    }

    .grid-blue{
        display: grid;
        grid-template-columns: 60px 60px 60px 60px 60px;
        margin-top: -10px;
        div{
            width: 60px;
            height: 40px;
            background-color: #31A7F1;
            border: solid 2px #0D499F;
            
        }
    }
    .black-buttons{
        margin-top: 10px;
        align-self: flex-end;
        display: flex;
        align-items: center;
        margin-right: 25px;
        
        div{
            margin: 0 10px;
            background-color: black;
            width: 60px;
            height: 10px;
            border-radius: 10px;
            @include shadow();
        }
    }

    .buttons-white{
        display: flex;
        align-self: flex-start;
        margin: 10px 0 0 30px;
        div{
            margin: 0 5px;
            width: 60px;
            height: 20px;
            background-color: white;
            border: solid 2px #78777F;
            @include shadow();
            border-radius: 5px;            
        }
    }
    .yellow-led{
        width: 20px;
        height: 20px;
        background-color: yellow;
        border-radius: 25px;
        align-self: flex-end;
        margin: -15px 50px 0 0;
        @include shadow();
        .dot{
            position: relative;
            width: 7px;
            height: 7px;
            left: 3px;
            top:2px;
            border-radius: 7px;
            background-color: rgb(245, 245, 226);
        }
    }
    .black-screen{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        width: 350px;
    }
}

